.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
p
{
  font-size: 12px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: white;
}
.background
{
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
  background-color: #282c34;
}
.jinx-bg
{
  background-image: url("jinx.jpg");
  background-position: center;
  background-size:cover;
  width: 50%;
}

.App-link {
  color: #61dafb;
}

.tab-list {  
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  
  
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  color: crimson;
  
}

.tab-list-active {
  background-color: rgb(146, 146, 146);
  
}

.tab-content
{
  overflow: auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
